@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ===== Fonts ===== */
    --font-size: 16px;
    --font-family: 'Open Sans', sans-serif;
    
    /* ===== Colors ===== */
    --primary-color: #E97730;
    --primary-color-alpha: rgb(233, 119, 48, 0.8);
    --hover-primary-color: #f46e1a;
    --text-color: #1e272e;
    --text-color-light: #ffffff;
    --hover-text-color: #E97730;


    /* ====== Transition ====== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

html{
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.btn-advise{
    padding: 0.5rem 0.75rem;
    display: inline-block;
    line-height: 1.5;
    color: var(--text-color-light);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: var(--tran-04);
}
.btn-advise:hover{
    color: var(--text-color-light);
    background-color: var(--hover-primary-color);
    transition: var(--tran-04);
}
/* header */
.header{
    --header-hight: 4.75rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: var(--tran-05);
}
.header.hide{
    top: -100%;
}
.header .header__inner{
    height: var(--header-hight);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header__logo{
    width: 11.5rem;
    text-align: center;
}
.header .header__logo .logo-text{
    color: #413D3D;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
}
.header .header__menu{
    display: block;
}
.header .header__menu .header__menu-inner{
    display: flex;
}
.header .header__menu-inner .menu-item{
    padding: 6px 12px;
}
.header .header__menu-inner .menu-link{
    white-space: nowrap;
    color: var(--text-color);
    transition: var(--tran-03);
}
.header .header__menu-inner .menu-link:hover{
    color: var(--hover-text-color);
    transition: var(--tran-03);
}
.header .header__inner .header__btn-bars{
    display: none;
    height: 100%;
    padding: 0 25px;
    padding: 0.75rem 25px;
    outline: none;
    border: none;
    background-color: #FFFFFF;
}
.header .header__hotline .hotline-btn{
}
.header .header__block-right{
    display: flex;
}
.header .header__lang{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.header .header__lang .header__lang-icon{
    margin-right: 5px;
}
.header .header__lang .header__lang-line{
    width: 1px;
    height: 20px;
    margin: 0 5px;
    border-right: 1px solid #E0E0E0;
}
.header .header__lang .header__lang-link{
    color: #E0E0E0;
    font-size: 13px;
    text-transform: uppercase;
}
.header .header__lang .header__lang-link.active{
    color: #000;
}
/* slideshow */
.slideshow{
    --height-carousel: 32rem;
    background-color: #EFF2F4;
}
.slideshow .slideshow__logo{
    display: none;
    width: 11.5rem;
    text-align: center;
}
.slideshow .slideshow__logo .logo-text{
    color: #413D3D;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
}
.slideshow .slideshow__title{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 700;
}
.slideshow .slideshow__carousel{
    height: var(--height-carousel);
    display: flex;
    position: relative;
}
.slideshow .slideshow__carousel .carousel-i{
    height: var(--height-carousel);
}
.slideshow .carousel-i img{
    height: 100%;
    object-fit: contain;
}
.slideshow .slideshow__carousel .carousel-btn{
    color: #000;
    font-size: 25px;
    background-color: transparent;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
}
.slideshow .slideshow__carousel .carousel-btn-prev{
    top: 40%;
    left: 0;
}
.slideshow .slideshow__carousel .carousel-btn-next{
    top: 40%;
    right: 0;
}

/* q2a */
.q2a{

}
.q2a .q2a-content:nth-child(2){
    background: rgba(239, 242, 244, 0.5);
}
.q2a .problem .problem__icon{
    width: 40px;
    height: 40px;
}
.problem .problem__title{
}
.problem .problem__title .problem__sub-title{
    font-weight: 600;
    margin-bottom: 15px;
}
.problem .problem__title .problem__topic{
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
}

.problem .problem__big-business{
    display: flex;
}
.problem .problem__big-business .problem__group-name{
    font-weight: 600;
    margin-bottom: 10px;
}
.problem .problem__startups{
    display: flex;
}
.problem .problem__startups .problem__group-name{
    font-weight: 600;
    margin-bottom: 15px;
}
.problem .problem__content{
    margin-left: 20px;
}
.problem .problem__question-list .problem__question-item{
    margin-bottom: 10px;
    line-height: 1.2;
    position: relative;
    transition: all .4s;
}
.problem .problem__question-list .problem__question-item::before{
    content: "";
    position: absolute;
    top: 6px;
    left: -12px;
    width: 6px;
    height: 6px;
    background-color: #828282;
    border-radius: 50%;
}
.solution{
    --height-logo-app: 64px;
}
.solution__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.solution .solution__title{
    font-size: 30px;
    font-weight: 700;
}
.solution .solution__logo{
    width: 7.5rem;
}
.solution .solution__app{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.solution .solution__app .solution__logo-app{
    height: var(--height-logo-app);
}
.solution .solution__list-advantages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 5px;
    border-top: 1px solid #ecf0f1;
}
.solution .solution__list-advantages .solution__advantages-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    line-height: 1.5;
}
.solution .solution__advantages-item svg{
    color: #27AE60;
    margin-right: 10px;
}
.solution .solution__gex{
    background-color: #ffffff;
}
.solution .solution__gex .solution__list-advantages{
    height: 100%;
    border-top: none;
}
.solution .solution__gex-app{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.solution .solution__gex-app .solution__gex-icon{
    width: 40px;
    margin-bottom: 5px;
}
.solution .solution__gex-app .solution__gex-name{
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}
.solution .solution__gex-app .solution__gex-line{
    width: 1px;
    height: 150px;
    border-right: 1px dashed #E0E0E0;
}
.solution .solution__gex-app .solution__gex-line.line-row{
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #E0E0E0;
}
.solution .solution__gex-app .solution__gex-row{
    display: flex;
    align-items: center;
}
.solution .solution__gex-app .solution__gex-item{
    height: 150px;
    padding: 20px 10px;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: var(--tran-04);
}
.solution .solution__gex-app .solution__gex-item:hover{
    transform: translateY(-3px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: var(--tran-04);
}

/* reason */
.reason .reason__title{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
}
.reason .reason__container .reason__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reason .reason__list .reason__item{
    display: flex;
    align-items: center;
    padding: 24px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: var(--tran-04);
}
.reason .reason__list .reason__item-name{
    line-height: 1.5;
    font-weight: 600;
}
.reason .reason__list .reason__item:hover{
    color: var(--hover-primary-color);
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateY(-3px);
    transition: var(--tran-04);
}
.reason .reason__list .reason__item-icon{
    width: 80px;
    height: 80px;
    margin-right: 15px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFEFEF;
    border-radius: 50%;
    transition: var(--tran-04);
}
.reason .reason__item-icon .icon{
    width: 40px;
    height: 40px;
}
.reason .reason__item:hover .reason__item-icon{
    background-color: var(--hover-primary-color);
    transition: var(--tran-04);
}
.reason .reason__item:hover .reason__item-icon .icon{
    color: #ffffff;
    opacity: 0.8;
}

/* news */
.news{
    background: rgba(239, 242, 244, 0.5);
}
.news .news__tagname{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.news .news__item{
    position: relative;
    transition: var(--tran-04);
}
.news .news__item .news__image{
    margin-bottom: 220px;
    transition: var(--tran-04);
}
.news .news__item .news__title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}
.news .news__item .news__block-content{
    width: 85%;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: -170px;
    background-color: #ffffff;
    transition: var(--tran-04);
}
.news .news__item .news__content{
    margin: 15px 0;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.news .news__item .news__create-time{
    display: flex;
    align-items: center;
    color: #828282;
    font-size: 14px;
    font-weight: 600;
}
.news .news__create-time svg{
    margin-right: 10px;
}
.news .news__item:hover{
    transform: translateY(-5px);
    transition: var(--tran-04);
}
.news .news__item:hover .news__image{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: var(--tran-04);
}
.news .news__item:hover .news__block-content{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: var(--tran-04);
}

/* connect */
.connect{
    background-image: linear-gradient(45deg, var(--primary-color-alpha), rgb(237, 127, 58, 0.8)), url(../img/businessman-working-his-laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.connect .connect__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}
.connect .connect__item .connect__title{
    font-size: 30px;
    font-weight: 700;
}
.connect .connect__item .connect__sub-title{
    font-weight: 400;
    line-height: 1.5;
}
.connect .connect__item .connect__sub-title:nth-child(1){
    font-size: 14px;
    text-transform: uppercase;
}
.connect .connect__item .connect__title-item{
    font-size: 18px;
    text-transform: uppercase;
}
.connect .connect__item .connect__contact{
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}
.connect .connect__item .connect__icon{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.connect .connect__item .connect__info{
    display: flex;
    flex-direction: column;
}
.connect .connect__item .connect__info-title{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 5px;
}
.connect .connect__item .connect__info-contact{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}
.connect .connect__item .connect__info-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.connect .connect__item .connect__btn-form{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #ffffff;
    border-radius: 2px;
}

/* footer */
.footer{
    background-color: #202124;
}
.footer .footer__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer__nav .footer__logo{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .footer__nav .footer__logo-img{
    margin-bottom: 5px;
}
.footer .footer__nav .footer__logo-text{
    font-size: 12px;
    color: #E0E0E0;
}
.footer .footer__nav .footer__menu{
    display: flex;
    justify-content: space-between;
}
.footer .footer__nav .footer__menu-item{
    padding: 6px 12px;
}
.footer .footer__nav .footer__menu-link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    transition: var(--tran-03);
}
.footer .footer__menu-item:hover .footer__menu-link{
    color: var(--hover-primary-color);
    transition: var(--tran-03);
}
.footer .footer__body{
    border-top: 1px solid rgba(224, 224, 224, 0.1);
    border-bottom: 1px solid rgba(224, 224, 224, 0.1);
}
.footer .footer__body .footer__address{
    display: flex;
    flex-direction: column;
}
.footer .footer__body .footer__address-name{
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 20px;
}
.footer .footer__body .footer__address-info{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 25px;
}
.footer .footer__bottom .footer__copyright{
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

/* introduce-banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .banner__logo{
    width: 11.5rem;
    text-align: center;
}
.banner .banner__logo .logo-text{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
}
/* introduce-brand */
.brand{
    background: rgba(239, 242, 244, 0.5);
}
.brand .brand__title{
    width: 60%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
}
.brand .brand__inner{
    height: 350px;
    background-image: url(../img/ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
}
.brand .brand__group-member{
    display: block;
}
.brand .brand__group-member.mobi{
    display: none;
}
.brand .brand__group{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.brand .brand__group .brand__group-img.member-item{
    display: flex;
    align-items: center;
    width: 180px;
    height: 70px;
    padding: 6px 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 auto;
}
.brand .brand__group .brand__group-img.big-img{
    width: 500px;
    margin: 0 auto;
}
.brand .brand__partner .brand__partner-title{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}
.brand .brand__partner .brand__partner-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand .brand__partner .brand__partner-logo{
    width: 100px;
    margin: 0 10px;
}
.brand .brand__partner .brand__partner-line{
    height: 40px;
    border-right: 1px solid #E0E0E0;
}
.brand .brand__group-member.mobi .member-item{
    display: flex;
    align-items: center;
    width: 220px;
    height: 80px;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 0 auto;
}
/* introduce-solution-2nd */
.solution-2nd .solution-2nd__header{
    width: 55%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}
.solution-2nd .solution-2nd__header .solution-2nd__title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.solution-2nd .solution-2nd__header .solution-2nd__sub-title{
    font-weight: 400;
}
.solution-2nd .solution-2nd__body .row > *{
    padding: 0;
}
.solution-2nd .solution-2nd__body .content-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.solution-2nd .solution-2nd__body .solution-2nd__content{
    width: 50%;
    margin: 0 auto;
}
.solution-2nd .solution-2nd__body .solution-2nd__name{
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
}
.solution-2nd .solution-2nd__body .solution-2nd__select{
}
.solution-2nd .solution-2nd__body .solution-2nd__option{
    line-height: 1.5;
    margin-bottom: 10px;
    position: relative;
}
.solution-2nd .solution-2nd__body .solution-2nd__option::before{
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: -15px;
}
.solution-2nd .solution-2nd__body .content-1{
    background: linear-gradient(267.31deg, #F8F3F1 16.25%, rgba(248, 243, 241, 0) 80.67%);
}
.solution-2nd .solution-2nd__body .content-2{
    background: linear-gradient(80.62deg, #D6EAFF 2.83%, rgba(255, 255, 255, 0) 90.8%);
}
.solution-2nd .solution-2nd__body .content-3{
    background: linear-gradient(91.76deg, #FFFFFF 10.87%, #E0F5E9 98.95%);
}

/* register-modal */
.register-modal{

}
.register-modal .register-modal__content{
    border-radius: 10px;
    position: relative;
}
.register-modal .register-modal__content .register-modal__header{
    border: none;
}
.register-modal .register-modal__content .register-modal__title{
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.register-modal .register-modal__content .register-modal__btn-close{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #ffffff;
    background-color: #EB5757;
    outline: none;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -15px;
}
.register-modal .register-modal__content .register-modal__row{
    color: #545454;
    position: relative;
}
.register-modal .register-modal__content .register-modal__form-control{
    width: 100%;
    padding: 10px 10px 10px 45px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    position: relative;
}
.register-modal .register-modal__content .register-modal__form-control:focus{
    color: #212529;
    background-color: #fff;
    border-color: var(--primary-color);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(233 119 48 / 25%);
}
.register-modal .register-modal__content .register-modal__icon{
    position: absolute;
    top: 35%;
    left: 15px;
    z-index: 10;
}
.register-modal .register-modal__content .register-modal__footer{
    border: none;
}

/* confirm-modal */
.confirm-modal .confirm-modal__content{
    border-radius: 10px;
    position: relative;
}
.confirm-modal .confirm-modal__content .confirm-modal__header{
    border: none;
}
.confirm-modal .confirm-modal__content .confirm-modal__btn-close{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #ffffff;
    background-color: #EB5757;
    outline: none;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: -15px;
}
.confirm-modal .confirm-modal__content .confirm-modal__check{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6FCF97;
    border-radius: 50%;
}
.confirm-modal .confirm-modal__content .confirm-modal__check-inner{
    width: 60px;
    height: 60px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6FCF97;
    box-shadow: 0px 8px 26px rgba(4, 117, 52, 0.5);
    border-radius: 50%;
}
.confirm-modal .confirm-modal__content .confirm-modal__title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.confirm-modal .confirm-modal__content .confirm-modal__sub-title{
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.confirm-modal .confirm-modal__content .confirm-modal__footer{
    border: none;
}